<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Choose a Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
  <h2>Choose a category</h2>
  <ul class = "list-group">
    {% for category in categories %}
    <li class="list-group-item">{{category.tag}}</li>
    {% endfor %}
  </ul>
  <div>
    <div class="text-center" style="padding-top: 20%">
      <a href={{ url_for('recommendations') }}>
          <button onClick="clickFunction()" class="btn btn-info">Next</button>
        </a>
    </div>
</div> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript">
    $(".list-group .list-group-item").click(function(e) {
      $(e.target).toggleClass("active");
    });

    function clickFunction() {
      var items = document.getElementsByClassName("list-group-item active");
      var i;
      var jsonItems = {};
      for (i = 0; i < items.length; i++) {

        var item = items[i].innerText;

        var newdata = {};
        newdata[i] = {item};

        $.extend(true, jsonItems, newdata);

      }

      $.post( "/postmethod3", {
        javascript_data: JSON.stringify(jsonItems)
      });
      
    }



  </script>

</div>
    
  </body>
</html>